.toolBar {
    gap: 10px;
    display: flex;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1000;

    .elem {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: var(--md-sys-color-primary-container);
        border-radius: 20px;
        box-shadow: var(--md-sys-elevation);
        cursor: pointer;
    }

    .fileName {
        display: flex;
        align-items: center;
        justify-content: center;

        .fieldFileName {
            font: var(--md-sys-text-title-medium);
            background: var(--md-sys-color-surface);
            color: var(--md-sys-color-on-surface);
            box-shadow: var(--md-sys-elevation);
            padding: 10px;
            border-radius: 10px;
            border: none;
        }
    }
}

@media (max-width: 768px) {
    .toolBar {
        top: auto;
        bottom: 15px;
        right: 15px;
        left: 15px;
        justify-content: space-between;
        background: var(--md-sys-color-surface-container);
        padding: 8px;
        border-radius: 25px;
        box-shadow: var(--md-sys-elevation);

        .fileName {
            display: none;
        }

        .elem {
            padding: 8px;
            border-radius: 15px;
        }
    }
}
