@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./light.css";
@import "./dark.css";

:root {
  --md-sys-text-headline-small: 24px/32px "Inter";
  --md-sys-text-title-medium: 16px/24px "Inter";
  --md-sys-text-body-medium: 14px/20px "Inter";

  --md-sys-elevation: 0px 1px 2px 0 rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
}

* {
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
